.details-wrapper {
  padding: 0px;
  margin-top: 67px;
  height: 250px;

  &--left {
    margin-left: 94px;
  }

  &--title {
    margin-bottom: 0px;
  }

  &--filter {
    margin-top: 73px;
  }

  &--options {
    width: 25%;
    display: flex;
    justify-content: space-between;
  }
}
