.details-wrapper {
  padding: 0px;
  margin-top: 67px;
  border: 1px solid blue;
  height: 250px;

  &--left {
    margin-left: 94px;
  }

  &--title {
    margin-bottom: 0px;
  }

  &--filter {
    margin-top: 73px;
  }
}
